# Dependencies
node_modules/
venv/
lights/listener/venv/

# Environment & Private Backend Credentials
firebase-config.json
firebase-service-account.json
lights/listener/config.json
order_counter.json

# System & Logs
*.log
.DS_Store
Thumbs.db
